@model SuperSuper.Models.Product

@{
    ViewData["Title"] = "Product Details";
}


<h2>@ViewData["Title"]</h2>

<div>
    <h4>@ViewData["Title2"]</h4>


    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kosher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kosher)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
