@model IEnumerable<SuperSuper.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h2>Index</h2>

<div id="filter-blog">
    @using (Html.BeginForm("Index", "Products", FormMethod.Post))
    {
        <label>Search a product:</label> <br />
        <input id="input-h" type="search" name="category" placeholder="category" style="width:105px;">
        <input id="input-h" type="checkbox" name="Fat" value="true" style="width:105px;">
        <input id="input-h" type="search" name="productName" maxlength="10" placeholder="product Name" style="width:105px;">
        <input id="btn-filter" type="submit" value="Search">
    }
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                <a asp-action="Add" asp-route-id="@item.Id">Add Product</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Extra Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
