@model IEnumerable<SuperSuper.Models.CustomerBasket>

@{
    ViewData["Title"] = "CustomerBasket";
}

<h2>CustomerBasket</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductsCount)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
