@model IEnumerable<SuperSuper.Models.PurchesesView>

@{
    ViewData["Title"] = "My Basket";
}

<h2>@ViewData["Title"]</h2>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<p>
    <button type="button" onclick="alert('Thank you for your purchase. Payment in cash upon delivery');location.href='@Url.Action("Buy", "Purcheses")'"> buy</button>

    @*<button type="button" onclick="alert('Thank you for your purchase. Payment in cash upon delivery'); location.href = 'home'">buy</button>*@


    <br>

</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (SuperSuper.Models.PurchesesView item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchesDate)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.OriginalPurchesID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
