<!DOCTYPE html>
<html>
<head>

    <head>
        <link rel="shortcut icon" href="~/logo2_XvF_icon.ico" />
        <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
        <script type="text/javascript" src="~/lib/JQuary.js"></script>
    </head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuperSuper</title>

    <br>

    <a class="weatherwidget-io" href="https://forecast7.com/en/32d0934d78/tel-aviv-yafo/" data-label_1="TEL AVIV-YAFO" data-label_2="WEATHER" data-days="5" data-theme="pure">TEL AVIV-YAFO WEATHER</a>
    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
    </script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>


<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a href="/Home">
                        <input type="image" id="myimage" style="height:65px;width:65px;" src="~/images/logo2.png"
                               asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Basket", "Index", "Purcheses", "Register", "Log in")</li>
                    <li>
                        <div id="transDemo2">
                            <div class="table-hover">
                                <img src="~/images/super.png" width="27" height="27">
                            </div>
                        </div>
                    </li>
                    <li>@Html.ActionLink("Fill my basket", "Index", "Products")</li>

                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Map">Our Stores</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ml">Find by img</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right" >
                    <li>
                        <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
                        <a class="glyphicon glyphicon-user"
                           asp-area="" asp-controller="Home" asp-action="Register">
                            Register
                        </a>
                    </li>
                    <li>
                        <a class="glyphicon glyphicon-log-in"
                           asp-area="" asp-controller="Home" asp-action="Login">
                            Log in
                        </a>
                    </li>
                    <li>
                        <a class="glyphicon glyphicon-eye-open" href="/Home/adminLogin">
                        Admin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - SuperSuper by Evgeniy, Yarden, Bar & Talia</p>
            </footer>
        
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)

</body>
</html>
