@model IEnumerable<SuperSuper.Models.Admin>

@{
    ViewData["Title"] = "Update Products";
}

<h1>@ViewData["Title"]</h1>

<p>
    <br /><br />
    <button type="button" onclick="location.href='@Url.Action("CreateProduct", "Admins")'" class="btn btn-default"> Create product</button>

    <button type="button" onclick="location.href='@Url.Action("EditProduct", "Admins")'" class="btn btn-default"> Edit product</button>

</p>
<h1>Statistics</h1>

<div>
    <p>
        <script>
            window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
	            theme: "dark1", // "light1", "light2", "dark1", "dark2"
	            exportEnabled: true,
	            animationEnabled: true,
	            title: {
                    text: "Products Consuming",
		            fontSize: 21
	            },
	            data: [{
		            type: "pie",
		            startAngle: 160,
                    toolTipContent: "<b>{productName}</b>: {y}",
                    indexLabel: "{productName} - {y}",
		            dataPoints: @Html.Raw(ViewBag.DataPoints)
	            }]
            });
            chart.render();

            }
        </script>
        <div id="chartContainer" style="height: 350px; width: 50%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

    </p>
    </div>

    @*<div>
            <script>
    window.onload = function () {

    var result = @Html.Raw(ViewBag.DataPoints);
    var dataPoints =[];
    for(var i = 0; i < result.length; i++){
	    dataPoints.push({x:result[i].x, y:result[i].y});
    }

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        title: {
            text: "jjj"
        },
        data: [
        {
            type: "column",
            dataPoints: dataPoints,
        }
        ]
    });
    chart.render();

    };
            </script>

            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        </div>*@
